main section {
    text-align: center;
    height: auto;
}

#crewTable {
    width: 100%;
    height: 100%;
    gap: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#crewTable section {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.crewContainer {
    width: 50%;
    height: auto;
    min-height: 40vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.crewContainer section {
    width: 100%;
    height: 100%;
}

.crewContainer div {
    margin-bottom: 5%;
    float: left;
}

.crewContainer p {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}

.crewIcon {
    border-radius: 100%;
    height: auto;
    width: 125px;
    margin-left: 2%;
    margin-bottom: 5%;
}